body {
    background-color: #f2f2f2;
    background: url("/img/bios.png") no-repeat;
    background-size: 110%;
    background-position: center;
  }

  #tvContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
  }

  #tvScreen {
    text-align: center;
    max-width: 500px;
    margin: 0 auto; /* Center horizontally */
    position: relative;
    top: 80px; /* Adjust the top value as needed */
  }


  #articleTitle {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0; /* Remove top margin */
  }

  #articleImage {
    max-width: 80%; /* Increase the image size */
    max-height: 80%; /* Increase the image size */
    height: auto;
    margin-bottom: 20px;
  }


  #articleAbstract {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #readMoreLink {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    color: #007bff;
    text-decoration: none;
  }

  #readMoreLink:hover {
    text-decoration: underline;
  }
